body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: #ffffff;
  color: #9AA2A8;
}
.modal {
  width: 720px;
  position: fixed;
  top: 180px;
  left: 50%;
  margin-left: -390px;
  padding: 30px;
  z-index: 30;
  background-color: #ffffff;
}
.tabs {
  width: 100%;
}
/* Стили для списка вкладок */
.tab-header {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
/* Стили для вкладки */
.tab-header__item {
  margin-right: 40px;
  padding-bottom: 16px;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
}
/* Стили для активной вкладки */
.tab-header__item.active {
  position: relative;
  color:  #3C484C;
}
.tab-header__item.active::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color:  #3C484C;
}
/* Стиль для списка контейнеров с содержимым вкладок */
.tab-content {
  list-style: none;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}
/* Стили для контейнера с содержимым вкладки. По умолчанию скрыт. */
.tab-content__item {
  display: none;
}
/* Стили для активного контейнера вкладки */
.tab-content__item.active {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
}
.form label {
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #3C484C;
}
.field {
  position: relative;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 18px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.field-text {
  margin-bottom: 3px;
}
.field:active,
.field:focus,
.field:hover {
  outline: none;
  border: 1px solid #54B2C8;
  border-radius: 5px;
}
.select {
  background-image: url(../img/arrow.png);
  background-position: 349px 20px;
  background-repeat: no-repeat;
}
.qr-code,
.number-code {
  align-self: center;
}
.qr-code {
  margin-top: 17px;
  margin-bottom: 17px;
}
.number-code {
  margin-top: 10px;
  margin-bottom: 30px;
}
.button {
  background-color: #2A6591;
  border: none;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 17px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.small-btn {
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border: none;
  background-color: #9AA2A8;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.input-btn {
  position: absolute;
  top: 9px;
  right: 9px;
}
.balance-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 7px 16px rgba(60, 72, 76, 0.1);
}
.balance-value {
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #2A6591;
  background-color: rgba(42, 101, 145, 0.1);
  border-radius: 3px;
  & span {
    font-weight: bold;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 29;
  display: block;
}
